#!@! run $HOME/.$HOST if it exists
debug


HOSTRC=$HOME/.`/usr/bin/expr \`/bin/hostname -s\` : "\([^0-9]*\)[-0-9]*.*"`
HOSTRCN=$HOME/.`/bin/hostname -s`
HOSTRCX=$HOME/.`/bin/hostname -s`_rc
# echo "HOSTRC = '$HOSTRC, $HOSTRCN, $HOSTRCX'"
# dbgmsg "csource $HOSTRC"
csource $HOSTRC
# dbgmsg "csource $HOSTRCN"
csource $HOSTRCN
# dbgmsg "csource $HOSTRCX"
csource $HOSTRCX

# HOST=".`/bin/hostname -s`"
# if [ -f $HOME/$HOST ]; then
#    . $HOME/$HOST
# fi
